
* {
    padding: 0%;
    margin: 0%;
}

html {
    background-color: #C4C8D3;
}
a {
    font-style: none;
    text-decoration: none;
}
li {
    list-style: none;
}
/*NAV HOME*/
header #nav {
    background-color: #7E7D82;
    display: flex;
    width: 100%;
    height: 103px;
}
header #nav ul li {
    display: inline-block;
}
.CasaInicio {
    position: absolute;
width: 48px;
height: 48px;
left: 310px;
top: 26px;

background: url(casa.png);
}
.CarritoInicio {
    position: absolute;
width: 48px;
height: 48px;
left: 590px;
top: 26px;

background: url(carrito-de-compras.png);
}
.StoreInicio {
    position: absolute;
width: 48px;
height: 48px;
left: 875px;
top: 26px;

background: url(store-front.png);
}
.GrupoInicio {
    position: absolute;
width: 48px;
height: 48px;
left: 1170px;
top: 26px;

background: url(grupo.png);
}
.EnviosInicio {
    position: absolute;
width: 48px;
height: 48px;
left: 1445px;
top: 26px;

background: url(transporte.png);
}
/*NAV Catalogo*/ 

header .navcatalogo {
    display: flex;
    background-color: #7E7D82;
    width: 100%;
    height: 103px;
}
header .navcatalogo ul li {
    display: inline-block;
}
.imgCasaCatalogo {

position: absolute;
width: 48px;
height: 48px;
left: 310px;
top: 26px;

background: url(casa.png);


}
.imgCarroCatalogo {

position: absolute;
width: 48px;
height: 48px;
left: 590px;
top: 26px;

background: url(carrito-de-compras.png);

}
.imgStoreCatalogo {

position: absolute;
width: 48px;
height: 48px;
left: 875px;
top: 26px;

background: url(store-front.png);

}
.imgGrupoCatalogo {

position: absolute;
width: 48px;
height: 48px;
left: 1170px;
top: 26px;

background: url(grupo.png);

}
.imgEnvioCatalogo {

position: absolute;
width: 48px;
height: 48px;
left: 1440px;
top: 26px;

background: url(transporte.png);

}

/*NAV STORE*/

header #navstore {
    display: flex;
    background-color: #7E7D82;
    width: 100%;
    height: 103px;
}

#navstore ul li {
    display: inline-block;
}
.CasaStore{
    position: absolute;
width: 48px;
height: 48px;
left: 310px;
top: 26px;

background: url(casa.png);

}
.CarritoStore {
    position: absolute;
width: 48px;
height: 48px;
left: 590px;
top: 26px;

background: url(carrito-de-compras.png);
}
.StoreStore {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 875px;
    top: 26px;
    
    background: url(store-front.png);
    
}
.GrupoStore {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1170px;
    top: 26px;
    
    background: url(grupo.png);

}
.EnviosStore {
    position: absolute;
width: 48px;
height: 48px;
left: 1440px;
top: 26px;

background: url(transporte.png);
}

/*NAV NOSOTROS*/
header .NavNosotros {
    display: flex;
    background-color: #7E7D82;
    width: 100%;
    height: 103px;
}
header .NavNosotros ul li {
    display: inline-block;
}
.CasaNosotros {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 310px;
    top: 26px;
    
    background: url(casa.png);
    
}
.CarroNosotros{
    position: absolute;
width: 48px;
height: 48px;
left: 590px;
top: 26px;

background: url(carrito-de-compras.png);
}
.StoreNosotros{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 875px;
    top: 26px;
    
    background: url(store-front.png);
    
}
.GrupoNosotros{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1170px;
    top: 26px;
    
    background: url(grupo.png);
}
.EnviosNosotros{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1440px;
    top: 26px;
    
    background: url(transporte.png);
}

/*NAV ENVIOS*/
header #navEnvios {
    display: flex;
    background-color: #7E7D82;
    width: 100%;
    height: 103px;
}
header #navEnvios ul li {
    display: inline-block;
}
.CasaEnvios {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 310px;
    top: 26px;
    
    background: url(casa.png);
}
.CarroEnvios {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 590px;
    top: 26px;
    
    background: url(carrito-de-compras.png);
}
.StoreEnvios {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 875px;
    top: 26px;
    
    background: url(store-front.png);
}   
.GrupoEnvios {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1170px;
    top: 26px;
    
    background: url(grupo.png);
}

.EnviosEnvios {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1440px;
    top: 26px;
    
    background: url(transporte.png);
}
/*BODY/MAIN*/

#body {
    max-width: 100%;
}

#bodycatalogo {
    max-width: 100%;
}
#bodyStore {
    max-width: 100%;
}
#bodyNosotros {
    max-width: 100%;
}
#bodyEnvios {
    max-width: 100%;
}

.mainStore {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 20px;
}
.Storeh1 {
    display: flex;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5%;
}
.mainStore iframe {
    border-radius: 30px;
    margin-top: 20px;
    justify-content: flex-end;
}

#main {
    width: 100%;
    min-height: 100vh;
    height: 100%; 
}

#main h1 {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.mediodepago {
    display: flex;
    justify-content: center;
}
.mediodepago img {
    width: 100vh;
    height: auto;
    margin-bottom: 5%;
}
#bannerclothes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bannerclothes img {
    border: #C4C8D3;
    border-radius: 100px;
    padding: 50px;
    width: 350px;
    height: auto;
}

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*/////////////////////////////////////FOOTERS////////////////////////////////////////////////*/
#footer {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

#footercatalogo {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

#footerstore {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

#footernosotros {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

.Copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerindex {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerindex img {
    height: 48px;
    width: 48px;
    margin: 2px;
}

.footerredessociales {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerredessociales img {
    height: 48px;
    width: 48px;
    margin: 2px;
}
.footerstores {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerstores img {
    height: 48px;
    width: 48px;
    margin: 2px;
}
.footercontacto {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footercontacto img {
    height: 48px;
    width: 48px;
    margin: 2px;
}
.footerenvios {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerenvios img {
    height: 48px;
    width: 48px;
    margin: 2px;
}

/*/////////////////////////////////////GRILLAS////////////////////////////////////////////////*/
.grillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.grillascatálogo {
    background-color: #C4C8D3;
    max-width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grillascatálogo article {
    margin: 10px;
}
.grillascatálogo article img {
    border-radius: 80px;
}

.grillasprincipal {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#grillasindex {
    background-color: #C4C8D3;
    display: grid;
    grid-template-columns: 33% 33% 33%
}
#grillasindex  img {
    margin: 100px;
    height: 300px;
    width: auto;
    border-radius: 30px;
}




body {
    background-color: #C4C8D3;
}


/*///////////////////////////////////////MEDIA QUERIES/////////////////////////////*/

@media (max-width: 430px) {

}
