#body {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/8334389ef71d39393fa4629b074feec1.jpg);
}
#bodycatalogo {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/8334389ef71d39393fa4629b074feec1.jpg);
}
#bodyStore {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/8334389ef71d39393fa4629b074feec1.jpg);
}
#bodyNosotros {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/8334389ef71d39393fa4629b074feec1.jpg);
}
#bodyEnvios {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../images/8334389ef71d39393fa4629b074feec1.jpg);
    
}