#footer {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;

    .Copyright {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footerindex {
        display: flex;
        justify-content: center;
        align-items:  center;
    }
    .footerindex img {
        height: 48px;
        width: 48px;
        margin: 2px;
    }
}

/*//////////////////////////////////////////////////////*/

#footercatalogo {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}
.Copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerredessociales {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerredessociales img {
    height: 48px;
    width: 48px;
    margin: 2px;
}

/*////////////////////////////////////////////////////////////////////////*/

#footerstore {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

.Copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerstores {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerstores img {
    height: 48px;
    width: 48px;
    margin: 2px;
}

/*///////////////////////////////////////////////////////////////*/

#footernosotros {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}

.Copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footercontacto {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footercontacto img {
    height: 48px;
    width: 48px;
    margin: 2px;
}

/*//////////////////////////////////////////////////////////////////////////*/

#footersends {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration-color: black;
    width: 100%;
    height: 238px;
    background-color: #7E7D82;
}
.Copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerenvios {
    display: flex;
    justify-content: center;
    align-items:  center;
}
.footerenvios img {
    height: 48px;
    width: 48px;
    margin: 2px;
}



