
@media (max-width: 430px) {
    body {
        max-width: 100%;
        max-height: 100%;
        font-size: 14px;
    }

    header #nav {
        background-color: #7E7D82;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    header #nav ul {
        list-style: none;
        display: flex;
    }

    header #nav ul li {
        margin-right: 20px;
    }

    header #nav ul li a img {
        width: 30px;
        height: 30px;
    }

    .CasaInicio,
    .CarritoInicio,
    .StoreInicio,
    .GrupoInicio,
    .EnviosInicio {
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .CasaInicio {
        left: 125px;
        top: center; /* Asegúrate de definir una posición vertical válida */
    }

    .CarritoInicio {
        left: 180px;
        top: 26px;
        background: url(carrito-de-compras.png);
    }

    .StoreInicio {
        left: 245px;
        top: 26px;
        background: url(store-front.png);
    }

    .GrupoInicio {
        left: 300px;
        top: 26px;
        background: url(grupo.png);
    }

    .EnviosInicio {
        left: 30px;
        top: 26px;
        background: url(transporte.png);
    }

    #main {
        width: 100%;
        min-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main #bannerclothes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center; /* Alinea el texto al centro */
        height: 400px; /* Añade esta línea para que el contenedor ocupe toda la altura de la pantalla */
    }
    
    #main #bannerclothes img {
        border: #C4C8D3;
        border-radius: 50px;
        width: 100%;
        max-width: 150px;
        height: auto;
        padding: 0px;
        margin: 0 auto; /* Añade este margen auto para centrar la imagen horizontalmente */
    }
    
}
@media (max-width: 930px) {
    body {
        max-width: 100%;
        max-height: 100%;
        font-size: 14px;
    }
    header #nav {
        background-color: #7E7D82;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        height: 60px;
    }
    
    header #nav img {
        max-height: 100%;
    }
    
    header #nav ul {
        list-style: none;
        display: flex;
    }
    
    header #nav ul li {
        margin-right: 20px;
    }
    
    header #nav ul li a img {
        width: 30px;
        height: 30px;
    }
    .CasaInicio {
        position: absolute;
    width: 24px;
    height: 24px;
    left: 125px;
    top: center;
    }

    .CarritoInicio {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 180px;
    top: 26px;
    
    background: url(carrito-de-compras.png);
    }
    
    .StoreInicio {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 245px;
    top: 26px;
    
    background: url(store-front.png);
    }

    .GrupoInicio {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 300px;
    top: 26px;
    
    background: url(grupo.png);
    }
    .EnviosInicio {
        position: absolute;
    width: 30px;
    height: 30px;
    left: 400px;
    top: 26px;
    
    background: url(transporte.png);
    }
    #main {
        width: 100%;
        min-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;}

    #main #bannerclothes img{
        width: 150px;
        padding: 25px;
    }
}
